.DS_Store
node_modules
/dist
courses_db.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
src/pages/SelectCourses/store/courses_db.json
src/pages/SelectCourses/store/courses_db.min.json
